@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Josefin+Sans:wght@400;700&family=Karla:wght@400;500;700&family=Poppins:wght@300;600&display=swap");

:root {
    /* Font families */
    --ff-inter: "Inter", sans-serif;
    --ff-josefin: "Josefin Sans", sans-serif;
    --ff-karla: "Karla", sans-serif;
    --ff-poppins: "Poppins", sans-serif;

    /* Font weights */
    --fw-400: 400;
    --fw-700: 700;
}