
:root {

   /* ----- PRIMARY COLORS ----- */
   --White: 0 0% 100%;
   --Bright-Blue: 220 98% 61%;
   --Check-bg: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));

   /* ----- Light Theme ------ */
   --Very-Light-Gray: 0 0% 98%;
   --Very-Light-Gray-Blue: 236 33% 92%;
   --Light-Gray-Blue: 233 11% 84%;
   --Dark-Grayish-Blue: 236 9% 61%;
   --Very-Dark-Grayish-Blue: 235 19% 35;

   /* ------ Dark Theme ------ */
   --Very-Dark-Blue: 235 21% 11%;
   --Dark-Grayish-Blue: 234 11% 52%;
   --Light-Grayish-Blue: 234 39% 85%;
   --Very-Dark-Grayish-Blue: 233 14% 35%;
   --Very-Dark-Grayish-Blue: 237 14% 26%;
   --Very-Dark-Desaturated-Blue: 235 24% 19%;
   --Light-Grayish-Blue-hover: 236 33% 92%;

}
#root {
   position: relative;
   min-height: 100vh;
   font-size: 1.6rem;
   display: grid;
   padding-inline: 2.5rem;
   grid-template-rows: auto 1fr auto;
   font-family: 'Josefin Sans', sans-serif;
   background-repeat: no-repeat;
   background-color: hsl(var(--Very-Light-Gray));
   background-image: url('../images/bg-mobile-light.jpg');
   background-size: contain;
   overflow: auto;
}
@keyframes spin {
   from {
     transform: rotate(0deg);
   }
   to {
     transform: rotate(360deg);
   }
}

/* ---------- Header Section ---------- */
header{
   display: grid;
   grid-template-columns: 1fr auto;
   gap: .5rem;
   align-items: center;
   margin-top: 4rem;
   margin-bottom: 3rem;
}

.title {
   text-transform: uppercase;
   color: hsl(var(--White)) ;
   letter-spacing: .7ch;
   font-size: 3rem;
}

.toggle {
   height: 2.5rem;
   width: 2.5rem;
   display: flex;
   background-image: url('../images/icon-moon.svg');
   background-size: contain;
   background-repeat: no-repeat;
   cursor: pointer;
   transition: 1s ease-in-out;
}
.toggle:hover {
   animation: spin 1s ease-in-out;
}
.switch {
   margin: 0;
   appearance: none;
   border-radius: 50%;
   outline-offset: .5rem;
}

.switch:checked   .toggle{
   animation: spin 1s ease-in-out;
   background-image: url('../images/icon-sun.svg');
}


/* ----------- Main Section ---------- */
main {
   display: flex;
   flex-direction: column;
   gap: 1.8rem;
}

.create-todo {
   background-color: hsl(var(--White));
   border-radius: .5rem;
   padding: .5rem;
   display: grid;
   grid-template-columns: auto 1fr;
   gap: 2rem;
   align-items: center;
   min-height: 4.8rem;
}

.input-task {
   width: 100%;
   border: 0;
   outline: 0;
   font-size: 1.3rem;
   color: hsl(var(--Very-Dark-Grayish-Blue));
}

.input-task::placeholder {
   color: hsl(var(--Dark-Grayish-Blue));
   font-size: 1.3rem;
}

.add-btn {
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   border: .1rem solid; 
   background-color: transparent;
   cursor: pointer;
   margin-left: 1rem;
   padding: 0;
   border-top-color: hsl(192, 100%, 67% );
   border-left-color: hsl(192, 100%, 67%);
   border-right-color: hsl(280, 87%, 65%);
   border-bottom-color: hsl(280, 87%, 65%);
}

.task-card {
   box-shadow: 0 0 2rem .3rem hsl(var(--Light-Gray-Blue) / .5);
   border-radius: .5rem;
   background-color: hsl(var(--White));
}

.task-list {
   margin: 0;
   padding: 0;
   list-style: none; 
}

.task {
   color: hsl(var(--Very-Dark-Grayish-Blue));
   min-height: 4.8rem;
   padding: .5rem;
   font-size: 1.3rem;
   display: flex;
   align-items: center;
   border-bottom: 1px solid hsl(var(--Very-Light-Gray-Blue));
}

.done {
   appearance: none;
   outline: 1px solid hsl(var(--Light-Grayish-Blue));
   width: 2rem;
   height: 2rem;
   border-radius: 50%;
   margin: 0;
   cursor: pointer;
}

.done:checked {
   background: linear-gradient(to bottom right, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
   outline: 0;
   /* content: url('../images/icon-check.svg'); */
}

.wrap {
   cursor: pointer;
   display: grid;
   grid-template-columns: auto 1fr auto;
   width: 100%;
   grid-template-rows: 1fr;
   margin-inline: 1rem;
   gap: 2.3rem;
   align-items: center;
}

.wrap:hover .delete {
   opacity: 1;
   animation: spin  900ms forwards;
}

.done::before{
   content: '';
   /* content: url('../images/icon-check.svg'); */
   background: url('../images/icon-check.svg') no-repeat center;
   background-color: transparent;
   width: 2rem;
   height: 2rem;
   position: absolute;
   border-radius: 50%;
   opacity: 0;
   display: grid;
   place-content: center;
}


.done:checked::before{
   opacity: 1; 
}

.delete {
   background-color: transparent;
   border: none;
   cursor: pointer;
}

.cross{
   height: 1.2rem;
   width: 1.2rem;
}

.summary-tab {
   display: flex;
   justify-content: space-between;
   align-items: center;
   font-size: 1.3rem;
   padding-block: .5rem;
   padding-inline: 2rem;
   color: hsl(var(--Dark-Grayish-Blue) / .8);
   background-color: hsl(var(--White));
   min-height: 4.8rem;
   border-radius: .5rem;
}

.clear{
   cursor: pointer;
   background-color: transparent;
   border: none;
   color: hsl(var(--Dark-Grayish-Blue) / .8)
}

.filter-tab {
   padding: .5rem;
   border-radius: .5rem;
   gap: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: hsl(var(--White));
   box-shadow: 0 0 1rem .3rem hsl(var(--Light-Gray-Blue) / .4);
   min-height: 4.8rem;
}

.filter {
   font-size: 1.4rem;
   color: hsl(var(--Dark-Grayish-Blue));
   cursor: pointer;
   background: transparent;
   border: none;
}

footer {
   display: flex;
   justify-content: center;
   padding: 2rem;
   font-size: 1.3rem;
   color: hsl(var(--Dark-Grayish-Blue));
   margin-block: 3rem;
}


@media(min-width: 450px) {
   #root{
      background-clip: border-box;
      background-size: contain;
      place-content: center;
      padding: 0;
   }
   
   header {
      width: clamp(40vw, 70vw, 50rem);
   }
   main {
      width: clamp(40vw, 70vw, 50rem);
   }
   
}
@media(min-width: 768px) {
   #root {
      background-image: url('../images/bg-desktop-light.jpg');
   }
   .title {
      font-size: 3.6rem;
   }
   .create-todo{
      height: 6rem;
      font-size: 1.8rem;
   }
   .summary-tab{
      height: 6rem;
   }
   .task{
      height: 6rem;
      font-size: 1.8rem;
   }
   .input-task{
      font-size: 1.8rem;
   }
   .input-task::placeholder{
      font-size: 1.6rem;
   }
   .wrap{
      margin-inline: 2rem;
   }
   .add-btn{
      margin-left: 2rem;
   }
   .cross {
      height: 1.5rem;
      width: 1.5rem;
   }
}
@media(min-width: 1024px) {
   header{
      margin-top: 7rem;
   }
   .delete {
      opacity: 0; 
   }
   
   .delete:hover {
      opacity: 1;
      transform: scale(1);
      transition: scale 100ms ease;
   }

}